<footer th:fragment="footer">
	<div class="page-wrapper">
		<div id="post-background"
			style="background-image: url('/rijoraespana/images/k1ow9mm5utu41.png');">
		</div>
	</div>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery-ui.min.js}"></script>
	<script th:src="@{/js/jquery.cookie.js}"></script>
</footer>