
<head th:fragment="head(titulo)">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>[[${titulo}]]</title>
<link th:href="@{/favicon.ico}" rel="icon" type="image/png">
<link th:href="@{/css/jquery-ui.min.css}" rel="stylesheet">
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/css/styles.css}" rel="stylesheet">
<link th:href="@{/css/rsi-style.css}" rel="stylesheet">

</head>
