
<header th:fragment="header" class="c-brand-menu c-brand-menu----rsi"
	id="brand-menu">
	<span class="c-brand-menu__section">

		<div class="c-brand-menu__backdrop"></div>
		<nav class="c-brand-menu__container">
			<div class="c-brand-menu__logo">
				<img width="180" height="141" th:src="@{/images/logovacio.png}"></img>


			</div>
			<div class="c-brand-menu__items-container">
				<ul class="c-brand-menu__items">
					<li class="c-brand-menu__item  "><a
						class="c-menu-link c-menu-link----rsi c-brand-menu__link"
						href="/rijoraes"> <span class="c-brand-menu__item-text">INICIO</span>
					</a></li>
					<li class="c-brand-menu__item "><a
						class="c-menu-link c-menu-link----rsi c-brand-menu__link"
						href="/community"> <span class="c-brand-menu__item-text">QUIENES
								SOMOS</span>
					</a></li>
					<li class="c-brand-menu__item"><a
						class="c-menu-link c-menu-link----rsi c-brand-menu__link"
						href="/development"> <span class="c-brand-menu__item-text">CONTACTO</span>
					</a></li>
				</ul>
			</div>
			<div class="c-brand-menu__cta">

				<a href="/star-citizen/fly-now"
					class="c-brand-cta-btn js-google-analytics-event-tracker"
					data-event-category="FlyNow" data-event-label="navMenuClick">
					<div></div> <span class="c-brand-cta-btn__text"> <strong>&Uacute;nete a Discord</strong>
				</span>
					<div></div>
				</a>

			</div>
		</nav>
	</span>
	<div class="page-wrapper">
		<div id="post-background"
			style="background-image: url('/rijoraes/images/k1ow9mm5utu41.png');">
		</div>
	</div>
</header>
